<ul id="notif-dropdown" class="dropdown-content">
  <li class="notification" ng-repeat="notification in navbar.notifications">{{ notification }}</li>
</ul>

<nav class="nav">
  <div class="nav-wrapper">

    <img class="icon left" src="Group.png">
    <a href="#" class="logo left">Deku</a>
        
    <a href="#" data-activates="mobile-nav" class="button-collapse hide-on-med-and-up right"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-small-only">
      <li><a class="dropdown-button" href="javascript:void(0)" data-activates="notif-dropdown" dropdown ng-show="navbar.notifications.length"><i class="small material-icons">mail</i></a></li>

      <li><a ui-sref="forum">Forum</a></li>

      <li><a ng-click="navbar.getActiveProfile()">Profile</a></li>

      <li><a ui-sref="dashboard({ username : navbar.username })">Dashboard</a></li>

      <li><a ng-click="navbar.signout()">Logout</a></li>
    </ul>

    <ul class="side-nav" id="mobile-nav">
      <li><a ui-sref="forum">Forum</a></li>

      <li><a ui-sref="profile">Profile</a></li>

      <li><a ui-sref="dashboard">Dashboard</a></li>

      <li><a ng-click="navbar.signout()">Logout</a></li>
    </ul>
  </div>
</nav>

