/* ___GLOBALS___ */
.z-depth-1, .default-button, .editProfile button, .profile .buttons a,
.profile button {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half, .default-button-hover, .editProfile button:hover, .profile .buttons a:hover,
.profile button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.default-button, .editProfile button {
  background-color: #27ae60;
  color: #ffffff;
  padding: .5rem 1rem;
  border: 0;
  display: inline-block;
  -webkit-transition: box-shadow .2s;
  transition: box-shadow .2s; }

.default-button-hover, .editProfile button:hover {
  cursor: pointer; }

/* ___GENERAL___ */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.main {
  margin: 0 2%; }

ul {
  margin: 0; }

/* ___EDITPROFILE___ */
.editProfile h4 {
  color: #109418;
  margin: 0 0 0 0; }
.editProfile h5 {
  font-size: 1.4rem; }
.editProfile ul.tags {
  margin-top: 5px;
  list-style: none;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 5px; }
.editProfile .tag {
  display: inline-block;
  margin: 2px 5px;
  background-color: #dfdfdf;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 2px 5px; }
.editProfile .tag span {
  margin: 3px 0px;
  padding-right: 5px; }
.editProfile .tag-form {
  display: block; }
.editProfile .tag-form input {
  margin-top: 20px;
  display: inline-block;
  width: 50%; }
.editProfile .tag-form button {
  display: inline-block; }
.editProfile div {
  margin: 5px 0;
  margin-bottom: 15px;
  padding: 5px 0;
  background-color: white; }
.editProfile .user-photos-container {
  width: 40rem;
  overflow-x: scroll; }
.editProfile .user-photos-container ul {
  width: 100rem; }
.editProfile .user-photos-container li {
  display: inline; }
.editProfile .photo {
  height: 15rem; }
.editProfile .follow-container {
  border-left: 2px solid #dfdfdf;
  text-align: right; }
.editProfile .follow {
  height: 10rem;
  overflow-y: scroll; }
.editProfile .follow li {
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  text-align: right; }
.editProfile .follow li:hover {
  border-bottom: 1px solid #27ae60; }
.editProfile textarea {
  resize: none;
  width: 24.1rem; }
.editProfile input, .editProfile textarea {
  border: 2px solid #dfdfdf; }
.editProfile input {
  height: 2rem;
  padding-right: 0px; }
.editProfile input:focus, .editProfile textarea:focus {
  border-bottom: 2px solid #109418; }
.editProfile .follow-header {
  font-size: 1.2rem;
  color: #109418; }
.editProfile .follow-header:hover {
  color: #27ae60; }
.editProfile a:hover {
  cursor: pointer; }

/* ___PROFILE___ */
.profile {
  color: #4a4a4a; }
  .profile h4 {
    color: #109418;
    margin: 2.8rem 0 0 0; }
  .profile h5 {
    font-size: 1.4rem; }
  .profile .avatar {
    height: 10rem;
    margin-top: 2rem;
    border-radius: 50%; }
  .profile .userInfo li {
    display: inline-block;
    vertical-align: top;
    padding-right: 1rem; }
  .profile .location {
    color: #8e8e8e;
    margin: .6rem 0 1rem 0; }
  .profile .buttons a,
  .profile button {
    background-color: #27ae60;
    color: #ffffff;
    padding: .5rem 1rem;
    border: 0;
    display: inline-block;
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s; }
  .profile .buttons a:hover,
  .profile button:hover {
    cursor: pointer; }
  .profile button {
    padding-top: .3rem;
    padding-bottom: .3rem; }
  .profile .tags {
    border: 0; }
  .profile input {
    width: calc(100% - 74px);
    height: 1.6rem;
    padding: .2rem;
    margin: 0;
    color: #8e8e8e; }
  .profile .follow a {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #1abc9c; }
    .profile .follow a span {
      color: #8e8e8e; }
  .profile li.status {
    font-size: 1.2rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    border-left: 8px solid #27ae60; }
  .profile .follow a:hover {
    color: #17a689; }
    .profile .follow a:hover span {
      color: #8e8e8e; }

/* ___NAVBAR___ */
.nav {
  background-image: linear-gradient(90deg, #27ae60 15%, #1abc9c 100%);
  background-image: -moz-linear-gradient(left, #27ae60 15%, #1abc9c 100%);
  background-image: -webkit-linear-gradient(left, #27ae60 15%, #1abc9c 100%);
  background-image: -o-linear-gradient(left, #27ae60 15%, #1abc9c 100%);
  background-image: -ms-linear-gradient(left, #27ae60 15%, #1abc9c 100%); }

.nav-wrapper {
  padding-left: 2rem;
  padding-right: 1rem; }

.logo {
  font-size: 1.8rem; }

.nav a:hover {
  cursor: pointer; }

.icon {
  padding: 5px;
  margin-right: 10px; }

/* ____TYPOGRAPHY_____ */
p {
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=styles.css.map */
