<div class="allThreads container">
  <h3>Forum</h3>

  <a class="create modal-trigger" href="#createThreadModal" modal>Create Thread</a>

  <ul class="threads">
    <li ng-repeat="thread in allThreads.threads">
      <div class="row">
        <div class="col l8 m8 s11">
          <a ui-sref="profile({ username: thread.userID })" class="left">
            <img src="Group.png">
          </a>

          <button class="upvote left" ng-click="allThreads.upvote(thread.id)">
            <i class="material-icons">keyboard_arrow_up</i>
          </button>

          <span class="upvoteTally left">
            {{ thread.vote_tally }}
          </span>

          <span class="left">
            <a class="thread-title" ui-sref="thread({ threadID: thread.id, page: 1 })">{{ thread.thread }}</a><br>

            <p class="createdAt">Created {{ thread.created_at }}</p>
          </span>
        </div>

        <div class="postTally col l1 m1 s1">
          <span class="postNum">{{ thread.messages_count }}</span><br>
          POSTS
        </div>

        <div class="lastUpdated col l3 m3 hide-on-small-only">
          <span>Last updated {{ thread.last_updated }}</span>
        </div>
      </div>
    </li>
  </ul>

  <pagination
    page="allThreads.page"
    page-size="allThreads.pageSize"
    total="allThreads.total"
    show-prev-next="true"
    dots="...."
    hide-if-empty="false"
    adjacent="2"
    scroll-top="true"
    pagination-action="allThreads.changePage(page)" />

  <div id="createThreadModal" class="modal">
    <div class="modal-content">
      <form class="threadForm" name="allThreads.threadForm" ng-submit="allThreads.createThread()">
        <h5>Give your thread a name:</h5>

        <input type="text" name="threadName" ng-model="allThreads.newThread" autocomplete="off" required>

        <button class="modal-close" type="submit">Create</button>
      </form>
    </div>
  </div>
</div>
