<div class="thread container">

  <div class="thread-meta row">
    <div class="title col s6 m6 l6 left-align">
      <h4>{{ thread.thread.thread }}</h4>
      <h5>Created by {{ thread.thread.username }} </h5>
    </div>
    <div class="meta col s6 m6 l6 right-align">
      <h5>Last Active {{ thread.thread.last_updated }} </h5>
      <h5> {{ thread.thread.messages_count }} Posts </h5>
      <h5> {{ thread.thread.vote_tally }} Upvotes</h5>
    </div>
  </div>


    <form class="post-form row" ng-submit="thread.postToThread()">

      <textarea rows="3" cols="20" wrap="hard" ng-model="thread.newMessage" placeholder="post a new message to the thread"></textarea>

      <button type="submit">Post</button>
    </form>

    <ul class="message-list-container">

      <li class="message-container" ng-repeat="message in thread.messages">
        
        <div class="row message-meta">
          
          <div class="message-avatar col s1 m1 l1">
            <img class="avatar" ng-src="{{ message.profile_photo }}">
          </div>

          <div ng-click="thread.navToUser(message.username)" class="message-username col s2 m2 l2">
            <span>{{ message.username }}</span>
          </div>

          <div class="message-timestamp col s3 m3 l3">
            {{ message.created_at }}
          </div>

          <div class="message-votes col s2 m2 l2">
            <div class="row">
              <i ng-hide="message.votedFor" ng-click="thread.likeMessage(message.id, $index)" class="material-icons col s4 m4 l4 not-voted">star_border</i>
              <i ng-show="message.votedFor" class="material-icons col s4 m4 l4 voted-for">star</i>
              <h5 class="col s8 m8 l8">{{ message.vote_tally }} upvotes</h5>
            </div>
          </div>

        </div>

        <div class="message-content row col s12 m12 l12"> 
          {{ message.message }} 
        </div>

      </li>

    </ul>

    <pagination class="pagination center-align"
      page="thread.page"
      page-size="thread.pageSize"
      total="thread.total"
      show-prev-next="true"
      dots="...."
      hide-if-empty="false"
      adjacent="2"
      scroll-top="true"
      pagination-action="thread.changePage(page)" />
      
</div>
