<div class="thread z-depth-1 container">

  <div class="row thread-meta col s12 m12 l12">
    <h4 class="thread-title col s4 m4 l4"> Aquaponics {{ thread.thread.thread }}</h4>
    <div class="thread-stats col s7 m7 l7 right-align"> 
      <div class="col s10 m10 l10">
        <h5 class="col s6 m6 l6"> Created by John Smith</h5>
        <h5 class="col s6 m6 l6"> Last Active 1 Day Ago</h5>
      </div>
      <div class="col s10 m10 l10">
        <h5 class="col s6 m6 l6"> {{ thread.total }} Posts</h5>
        <h5 class="col s6 m6 l6"> 10,543 Upvotes</h5>
      </div>
    </div>
    
  </div>


    <form class="post-form row col s12 m12 l12" ng-submit="thread.postToThread()">

      <textarea class="col s6 m6 l6" rows="2" cols="20" wrap="hard" ng-model="thread.newMessage" placeholder="post a new message to the thread">{{ thread.newMessage }}</textarea><br>

      <button class="col s2 m2 l2" type="submit">
        <span class="col s3 m3 l3 left">Post</span>
          <i class="material-icons col s5 m5 l5">send</i>      
        </button>
    </form>

    <ul class="message-list-container">

      <li class="row message-container row col s12 m12 l12" ng-repeat="message in thread.messages">
        
        <div class="row message-meta col s12 m12 l12">
          
          <div class="message-avatar col s1 m1 l1">
            <img class="avatar" src="{{ message.profile_photo }}">
          </div>

          <div class="message-username col s2 m2 l2">
            {{ message.username }}
          </div>

          <div class="message-timestamp col s3 m3 l3">
            {{ message.timestamp }}
          </div>

          <div class="message-votes col s5 m5 l5">
            <i class="material-icons col s1 m1 l1">star_border</i>
            <h5 class="col s5 m5 l5">{{ message.vote_tally }} upvotes</h5>
          </div>

        </div>

        <div class="message-content row col s12 m12 l12"> 
          {{ message.message }} 
        </div>

      </li>

    </ul>

    <pagination class="pagination center-align"
      page="thread.page"
      page-size="thread.pageSize"
      total="thread.total"
      show-prev-next="true"
      dots="...."
      hide-if-empty="false"
      adjacent="2"
      scroll-top="true"
      pagination-action="thread.changePage(page)" />
      
</div>
