/***********************
    #GLOBALS
 ***********************/

$lightBlue: #1abc9c;
$darkBlue: #138871;
$lightestGreen: #17be5d;
$lightGreen: #27ae60;
$darkGreen: #109418;
$darkerGreen: #0c7112;
$lightestGrey: #e9e9e9;
$lightGrey: #dfdfdf;
$grey: #8e8e8e;
$darkGrey: #4a4a4a;
$darkRed: #a50000;
$white: #ffffff;
$mainBackground: #f9f9f9;
$facebook: #3b5998;
$google: #e50101;

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.default-button {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: $lightGreen;
  color: $white;
  border: 0;
  -webkit-transition: box-shadow .2s;
  transition: box-shadow .2s;
  @extend .z-depth-1;
}

.default-button-hover {
  cursor: pointer;
  @extend .z-depth-1-half;
}


/***********************
    #GENERAL
 ***********************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $mainBackground;
}

.main {
  margin: 0 4%;
  color: $darkGrey;
}

.container {
  width: 80%;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
}


/***************************
    #SPLASH-PAGE
 ***************************/

.splash {
  margin: 0 -5%;

  .landing {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.7;
      background: url(../assets/Nature.jpg) no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

  .headline {
    margin: 2rem 4rem;
    text-align: right;
    color: $white;

    h1 {
      position: relative;
      top: -1.2rem;
      display: inline-block;
      font-size: 4rem;
      font-weight: 200;
    }

    img {
      height: 5rem;
      margin-right: 1rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .headline {
      text-align: center;

      h1 {
        top: -.5rem;
        font-size: 3rem;
      }

      img {
        height: 3rem;
      }
    }
  }

  .mask {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    h1 {
      margin: 8rem 0 0 0;
      color: $white;
    }

    h1 span {
      padding-bottom: 1rem;
    }

    p {
      margin: 1rem 0;
      font-size: 1.4rem;
    }

    a {
      color: $white;
    }

    .action-wrapper {
      display: inline-block;
    }

    @media only screen and (max-width: 600px) {
      h1 {
        font-size: 3rem;
      }
    }

    .cd-btn {
      display: inline-block;
      margin-right: 1.5rem;
      padding: .8rem 1.2rem;
      width: 115px;
      background-color: $lightBlue;
      border-radius: .25rem;
    }

    .cd-btn:nth-of-type(2) {
      margin-right: 0;
    }

    .cd-btn:hover {
      background-color: $darkBlue;
    }

    p,
    .cd-btn {
      opacity: 0;
      -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
      animation-duration: 0.8s;
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      animation-delay: 0.3s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }

  .learn-more {
    position: absolute;
    bottom: 0%;
    left: calc(50% - 53px);
    font-size: 1.4rem;
    color: $white;
  }

  .info {
    margin: 0 5%;
    background-color: $mainBackground;

    h3 {
      padding: 4rem 2rem 2rem 2rem;
      margin: 0;
      text-align: center;
    }

    .divider {
      margin: auto;
      width: 15rem;
      border-bottom: 2px solid $darkerGreen;
    }

    p {
      padding: 2rem;
      font-size: 2rem;
      text-align: center;
      color: $grey;

      @media only screen and (max-width: 600px) {
        font-size: 1.3rem;
      }
    }

    .feature {
      text-align: center;

      img {
        max-height: 390px;
        max-width: 100%;
      }

      p {
        padding: 0 1rem 2rem 1rem;
        font-size: 1.3rem;
      }
    }
  }

  .modal {
    width: 400px;
    top: 30% !important;
    text-align: center;

    @media only screen and (max-width: 600px) {
      width: 300px;
    }

    button {
      @extend .default-button;
      background-color: $lightBlue;
    }

    button:hover {
      @extend .default-button-hover;
    }

    p {
      color: $darkRed;
    }

    .facebook,
    .google {
      @extend .default-button;
      display: inline-block;
      padding: .3rem .5rem;
      color: $white;
      border-radius: 2px;
    }

    .facebook:hover,
    .google:hover {
      @extend .default-button-hover;
    }

    .facebook {
      margin: 1rem 0 .8rem 0;
      background-color: $facebook;
    }

    .google {
      background-color: $google;
    }

    .or {
      margin-top: 1rem;
    }
  }
}


/***************************
    #NAVBAR
 ***************************/

.nav {
  background-image: linear-gradient(90deg, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -moz-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -webkit-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -o-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -ms-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
}

.nav-wrapper {
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: 200;
}

.nav a:hover {
  cursor: pointer;
}

.icon {
  height: 56px;
  padding-top: 10px;
  margin-right: 15px;
}

.dropdown-content {
  li {
    cursor: default;
  }

  .notification {
    display: inline-block;
    padding-right: 0;
    font-size: 1rem;
    color: $darkGrey;

    &:hover {
      cursor: default;
    }
  }

  .notification .user:hover {
    color: $lightBlue;
    text-decoration: underline;
    cursor: pointer;
  }

  button {
    height: 52px;
    border: 0;
    background-color: inherit;

    &:hover {
      color: $lightBlue;
    }
  }

  i {
    position: relative;
    top: -10px;
  }
}


/***************************
    #EDIT-PROFILE
 ***************************/

.edit-profile {
  header {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  h3 {
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
  }

  h4 {
    margin: 0 0 1.5rem 0;
    font-size: 1.6rem;
    color: $darkGreen;
  }

  h5 {
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  p {
    margin: 1rem 0;
    font-size: 1rem;
    color: $grey;
  }

  .title,
  .update {
    vertical-align: middle;
  }

  ul.tags {
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
    list-style: none;
  }

  .tag {
    display: inline-block;
    margin: 2px 5px;
    padding: 2px 5px;
    background-color: $lightGrey;
    border: 1px solid $lightGrey;
    border-radius: 3px;
  } 

  .tag span {
    margin: 3px 0px;
    padding-right: 5px
  }

  .tag-form {
    display: block;
  }

  .tag-form {
    input {
      display: inline-block;
      margin-top: 20px;
      margin-right: 15px;
      width: 50%;
      height: 2.3rem;
    }
    button {
      display: inline-block;
    }
  }

  div.user-meta {
    margin: 5px 0;
    margin-bottom: 15px;
    padding: 5px 0;
    background-color: white;
  }

  .user-photos-container {
      i {
        color: $darkGrey;
        font-size: 3rem;

        &:hover {
          color: $lightBlue;
        }
      }

      ul {
        display: block;
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;
      }

      li {
        display: inline-block;
        position: relative;
        margin-right: .5rem;

        a {
          position: absolute;
          top: 6px;
          left: 8px;
          margin-right: -25px;
          opacity: 0.7;

          i {
            font-size: 1.5rem;
            color: red;

            &:hover {
              color: red;
            }
          }
        }
      }

      li:hover a {
        opacity: 1
      }
  }

  .photo {
    height: 14rem;
  }

  .follow-container {
    text-align: right;
    border-left: 2px solid $lightGrey;
  }

  .follow {
    height: 14rem;
    overflow-y: scroll;
  }

  .follow li {
    width: 100%;
    border-bottom: 1px solid $lightGrey;
    margin-bottom: .3rem;
    text-align: right;

    &:hover {
      border-bottom: 1px solid $lightGreen;
    }
  }
  
  .follow-header {
    font-size: 1.2rem;
    color: $darkGreen;

  }

  button {
    @extend .default-button;
  }

  button:hover {
    @extend .default-button-hover;
  }
  
  textarea {
    resize: none;
  }

  input, textarea {
    padding-left: 5px;
    border: 1px solid $lightGrey;
  }

  input {
    height: 2rem;
    padding-right: 0px;
  }

  input:focus, textarea:focus {
    border-bottom: 2px solid $darkGreen;
  }

  a:hover {
    cursor: pointer;
  }

  .user-meta {
    position: relative;
  }

  .avatar-container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 1rem 0 0;
  }

  .avatar {
    height: 11rem;
    border-radius: 3px;
  }

  .update-avatar {
    @extend .default-button;
    left: calc(50% - 62px);
    bottom: 10%;
    position: absolute;
    opacity: .5;
  }

  .update-avatar:hover {
    @extend .default-button-hover;
  }

  .avatar-container:hover .update-avatar {
    opacity: 1;
  }

  .basicInfo {
    display: inline-block;
    vertical-align: top;
    margin-top: 1.5rem;
  }

  .add-tag {
    background-color: $lightGreen;
  }

  .add-photo {
    @extend .default-button;
    margin-bottom: 1.5rem;
  }

  .add-photo:hover {
    @extend .default-button-hover;
  }

  .photos-modal {
    span {
      font-size: 1.5rem;
    }

    input {
      height: 2.4rem;
    }

    form {
      margin: 2rem 0;
    }

    .upload {
      padding: .2rem .4rem;
      margin-right: 2rem;
      background-color: $lightGrey;
      border-radius: 3px;
    }

    .upload:hover {
      @extend .default-button-hover;
    }

    .upload-text {
      font-size: 1rem;
    }
  }
}


/***************************
    #PROFILE
 ***************************/

.profile {
  h4 {
    margin: 2.5rem 0 0 0;
    font-size: 1.6rem;
    color: $darkGreen;
  }

  h5 {
    margin-bottom: 1.8rem;
    text-align: center;
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.1rem;
    color: $darkGrey;
  }

  .avatar {
    height: 10rem;
    margin-top: 2rem;
    border-radius: 3px;

    @media only screen and (max-width: 600px) {
      height: 8rem;
    }
  }

  .user-info li {
    display: inline-block;
    vertical-align: top;
    padding-left: 1rem;
  }

  .location {
    margin: .6rem 0 1rem 0;
    color: $grey;
  }

  .buttons a,
  button {
    @extend .default-button;
  }

  .buttons a:hover,
  button:hover {
    @extend .default-button-hover;
  }

  button {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  .user-photos-container {
    margin-top: 1rem;

    i {
      font-size: 3rem;
      color: $darkGrey;

      &:hover {
        color: $lightBlue;
        cursor: pointer;
      }
    }

    ul {
      display: block;
      width: 100%;
      overflow-x: hidden;
      white-space: nowrap;
    }
 
    li {
      display: inline-block;
      position: relative;
      margin-right: .5rem;
    }

    li:hover a {
      opacity: 1
    }

    .upload-file {
      @extend .default-button;
    }

    .upload-file {
      @extend .default-button-hover;
    }
  }

  .photo {
    height: 14rem;
  }

  .about {
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: 1rem;
  }

  .tags {
    padding-bottom: 1rem;
    border-bottom: 1px solid $lightGrey;
  }

  .tag {
    display: inline-block;
    margin: .5rem 2rem .5rem 0;
    padding: .2rem 1rem;
    font-size: 1.1rem;
    color: $darkGrey;
    background-color: $lightGrey;
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;

    &:hover {
      @extend .z-depth-1;
      cursor: pointer;
    }
  }

  .status-form {
    padding: .3rem .1rem .3rem .3rem;
    margin-top: 1.5rem;
    background-color: $lightGrey;
    border-radius: 2px;
  }

  input {
    width: calc(100% - 74px);
    height: 1.6rem;
    padding: .2rem;
    margin: 0;
    color: $darkGrey;
    background-color: $white;
  }

  .tabs .tab {
    font-size: 1.1rem;
    letter-spacing: 0;
    text-transform: none;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;

    &:hover {
      background-color: $lightestGrey;
    }
  }

  .status-tabs {
    padding: 0;
    margin-bottom: 2rem;
  }

  .status-avatar {
    height: 3rem;
    vertical-align: middle;
    padding-right: .5rem;
  }

  .statuses a {
    color: $darkGrey;

    &:hover {
      color: $lightGreen;
    }
  }

  .status button {
    padding: 0;
    background-color: $mainBackground;
    color: $darkGrey;
    box-shadow: none;
  }

  .status-info {
    position: relative;
    padding-right: 0;
    text-align: right;

    i:hover {
      cursor: pointer;
    }
  }

  .delete-status {
    padding-left: .5rem;
    color: $grey;
    cursor: default;

    &:hover {
      color: $darkGrey;
      cursor: pointer;
    }
  }

  li.status {
    padding-left: .5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    border-left: 8px solid $lightestGreen;
  }

  .user-status {
    padding-top: .5rem;
    color: $grey;
  }

  .status-created {
    position: relative;
    text-align: right;
    font-size: .8rem;
    color: $grey;
  }

  #my-updates .status-created {
    top: -.1rem;
  }

  .status-votes {
    text-align: right;

    i {
      margin-top: -0.3rem;
    }

    .upvote-tally {
      position: relative;
      top: -0.1rem;
      left: -1rem;
      vertical-align: middle;
    }

    .not-voted {
      vertical-align: middle;
      padding-right: 1rem;
    }

    .not-voted:hover {
      color: $lightBlue;
      cursor: pointer;
    }

    .voted-for {
      vertical-align: middle;
      padding-right: 1rem;
      color: $lightBlue;
    }
  }

  .bottom-left {
    padding-right: 5rem;
    padding-left: .7rem;
    border-right: 1px solid $darkGreen;

    @media only screen and (max-width: 992px) {
      padding-right: .7rem;
      border-right: none;
      border-bottom: 1px solid $darkGreen;
    }
  }

  .bottom-right {
    padding-right: .7rem;
    padding-left: 3rem;

    @media only screen and (max-width: 992px) {
      padding-left: .7rem;
    }
  }

  .bottom-left,
  .bottom-right {
    margin-top: 2rem;
  }

  .follow a,
  .follow a + span {
      display: inline-block;
      margin-top: .5rem;
      font-size: 1.2rem;
      color: $lightBlue;
  }

  .follow a + span {
    padding-left: .3rem;
    color: $grey;
  }

  .follow a:hover {
    color: $darkBlue;
  }

  .forum-activity {
    margin: 2.5rem 0 2rem 0;
  }

  li.thread {
    margin: 0 0 2rem 0;
    padding-left: 1.5rem;
    border-left: 8px solid $lightBlue;
  }

  .thread h6:hover {
    color: $lightBlue;
  }

  .thread p {
    color: $grey;
  }

  .message-time {
    margin-top: .4rem;
    font-size: .8rem;
  }

  .modal {
    width: 25%;

    .modal-content {
      padding: 0;
    }

    h5 {
      padding-bottom: .5rem;
      margin-bottom: 0;
      text-align: center;
      border-bottom: 1px solid $lightGrey;
    }

    li {
      padding: 1rem 2rem;
      font-size: 1.2rem;
    }

    a {
      vertical-align: middle;
      color: $darkGrey;

      &:hover {
        color: $lightBlue;
        cursor: pointer;
      }
    }

    img {
      vertical-align: middle;
      height: 50px;
      margin-right: 1.5rem;
      border-radius: 50%;
    }
  }

  .tabs {
    margin-bottom: 0.5rem;

    .tab {
      a {
        color: $darkGrey;

        @media only screen and (max-width: 600px) {
          font-size: 1rem;
        }
      }
    }

    .indicator { 
      background-color: $darkGreen;
    }
  }
}


/***************************
    #FORUM-ALL-THREADS
 ***************************/

.all-threads {
  h3 {
    display: inline-block;
    margin-right: 2rem;
  }

  .create {
    position: relative;
    top: -.6rem;
    margin-bottom: 3rem;
    @extend .default-button;
  }

  .create:hover {
    @extend .default-button-hover;
  }

  .row {
    position: relative;
    margin-bottom: 2.3rem;
  }

  .left-col {
    padding-right: 0;
  }

  .avatar {
    height: 45px;
    margin-right: .5rem;
    border-radius: 50%;
  }

  .user {
    display: none;
    top: -2.1rem;
    left: 2.3rem;
    position: absolute;
    padding: .2rem .4rem;
    font-size: .9rem;
    background-color: $lightGrey;
    border-radius: 3px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .avatarLink:hover + .user {
    display: block;
  }

  .upvote {
    padding-right: .5rem;
    background-color: inherit;
    border: 0;
  }

  .upvote:hover,
  .upvote.voted {
    color: $lightGreen;
  }

  .upvote-tally {
    font-size: 1.2rem;
    text-align: center;
  }

  .upvote,
  .upvote-tally {
    position: relative;
    top: .7rem;
  }

  .thread-title {
    font-size: 1.2rem;
    color: $darkerGreen;
  }

  .thread-title:hover {
    color: $lightGreen;
  }

  .created-at {
    font-size: .8rem;
    color: $grey;
  }

  .post-tally {
    text-align: center;
    font-size: .8rem;
    color: $grey;
  }

  .post-num {
    font-size: 1.2rem;
    color: $darkGrey;
  }

  .last-updated {
    height: 43px;
    text-align: right;
    border-left: 2px solid $lightBlue;
  }

  .pagination {
    margin-bottom: 1rem;
    text-align: center;
  }

  li.active {
    background-color: $lightBlue;
  }

  .modal button {
    @extend .default-button;
  }

  .modal button:hover {
    @extend .default-button-hover;
  }
}

/***************************
    #THREAD
 ***************************/

.thread {
  margin-top: 2%;
  margin-bottom: 5%;

  h5 {
    font-size: 1rem;
  }

  .thread-meta {
    .title {
      padding: 0;

      h4 {
        margin: 1rem 0;
        font-size: 2rem;
        color: $darkGreen;
      }
      h5 {
        margin: 2rem 0 1rem 0;
        font-size: 1rem;
      }
    }
    .meta {
      h5 {
        margin: 1rem 0;
        padding-right: .5rem;
        font-size: 1rem;
        border-right: 2px solid $darkGreen;
      }
    }
  }

  button {
    @extend .default-button;
    vertical-align: top;
    width: 5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  button:hover {
    @extend .default-button-hover;
  }

  .post-form {
    padding-bottom: 25px;
    border-bottom: 2px solid $lightGrey;

    textarea {
      height: 2rem;
      width: 40%;
      margin-right: 2%;
      border: 2px solid $lightGrey;
      resize: none;
    }

    textarea:focus {
      height: 4rem;
      border: 2px solid $lightBlue;
    }
  }

  .message-container {
    margin-top: 2%
  }

  .avatar {
    height: 3rem;
    border-radius: 5%;
  }

  .message-username {
    span:hover {
      color: $lightBlue;
      cursor: pointer;
    }
  }

  .message-votes {
    div {
      i {
        margin-top: -0.2rem;
      }

      .not-voted:hover {
        color: $lightBlue;
        cursor: pointer;
      }

      .voted-for {
        color: $lightBlue;
      }

      h5 {
        margin-top: 0.2rem;
      }
    }
  }

  .message-content {
    margin-bottom: 2px;
    padding-bottom: 15px;
    border-bottom: 2px solid $lightGrey;
    white-space: pre-line;
  }

  .pagination {
    padding-bottom: 2.5%;
  }

  li.active {
    background-color: $lightBlue;
  }
}

/***********************
    #DASHBOARD SETUP
************************/

p {
  code {
    padding: .1rem .4rem;
    background-color: $lightGrey;
    color: red;
    border-radius: 3px;
  }
}

.tesselButton {
  @extend .default-button;
  margin-top: .7rem;
  margin-bottom: .7rem;
}

.dashboard {
  margin-top: 1.4rem;
}

#exampleDashTitle {
  text-align: center;
}

.tesselSetupImage {
  display: block;
  width: 60%;
  margin: auto;
}

.scopedKey {
  display: inline-block;
  padding: .7rem .7rem .4rem .7rem;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 10px;
  background-color: #dfdfdf;
  border: 1px solid black;
  border-radius: 3px;
  white-space: pre-line;
  word-wrap: break-word;
}

pre {
  padding-top: .7rem;
  padding-left: .7rem;
  background-color: $lightGrey;
  border: 1px solid black;
  border-radius: 3px;
}

ol {
  li {
    margin-bottom: 2rem;
  }
}

/***************************
    #SPLASH PAGE ANIMATION
 ***************************/

.mask p {
  position: relative;
  margin: 0;
  padding: 10px 0 0;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}
@media only screen and (min-width: 768px) {
  .mask p {
    padding-top: 20px;
  }
}

.mask p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.mask .action-wrapper {
  overflow: hidden;
}

.mask .action-wrapper .cd-btn {
  opacity: 1;
  margin: 0 0 0 1.5em;
}

.mask .action-wrapper .cd-btn:first-of-type {
  margin-left: 0;
}

@-webkit-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
