$lightGreen: #27ae60;
$lightBlue: #1abc9c;
$lightGrey: #dfdfdf;
$darkGreen: #109418;
$mainBackground: #f9f9f9;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $mainBackground;
}

ul {
  margin: 0;
}

ul.tags {
  margin-top: 5px;
  list-style: none;
  border: 1px solid $lightGrey;
  border-radius: 2px;
  padding: 5px;
}

.tag {
  display: inline-block;
  margin: 2px 5px;
  background-color: $lightGrey;
  border: 1px solid $lightGrey;
  border-radius: 3px;
  padding: 2px 5px;
} 

.tag span {
  padding-right: 5px
}

.main {
  margin: 0 10%;
}

.tag-form {
  display: block;
}

.tag-form {
  input {
    display: inline-block;
    width: 50%;
  }
  button {
    display: inline-block;
  }
}

.editProfile div {
  margin: 5px 0;
  margin-bottom: 15px;
  padding: 5px 0;
  background-color: white;
}

/* ___NAVBAR___ */

.nav {
  background-image: linear-gradient(90deg, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -moz-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -webkit-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -o-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -ms-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
}

.nav-wrapper {
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo {
  font-size: 1.8rem;
}

.nav a:hover {
  cursor: pointer;
}

