/* ___GLOBALS___ */

$lightGreen: #27ae60;
$lightBlue: #1abc9c;
$lightGrey: #dfdfdf;
$grey: #9b9b9b;
$darkGreen: #109418;
$darkGrey: #4a4a4a;
$darkBlue: #17a689;
$mainBackground: #f9f9f9;
$white: #ffffff;

.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/* ___GENERAL___ */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $mainBackground;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  margin: 0;
}

/* ___EDITPROFILE___ */

ul.tags {
  margin-top: 5px;
  list-style: none;
  border: 1px solid $lightGrey;
  border-radius: 2px;
  padding: 5px;
}

.tag {
  display: inline-block;
  margin: 2px 5px;
  background-color: $lightGrey;
  border: 1px solid $lightGrey;
  border-radius: 3px;
  padding: 2px 5px;
} 

.tag span {
  padding-right: 5px
}

.main {
  margin: 0 5%;
}

.tag-form {
  display: block;
}

.tag-form {
  input {
    display: inline-block;
    width: 50%;
  }
  button {
    display: inline-block;
  }
}

.editProfile div {
  margin: 5px 0;
  margin-bottom: 15px;
  padding: 5px 0;
  background-color: white;
}

.user-photos-container {
  overflow-x: auto;
  margin: auto;
}

.user-photos {
  display: inline-block;
  padding: 3px;
}

.user-photo {
  height: 10rem;
}

.follow-container {
  height: 10rem;
  overflow-y: scroll;
}

.follow li {
  width: 10rem;
  border-botton: 1px solid $lightGrey;
  text-align: right;

/* ___PROFILE___ */

.profile {
  color: $darkGrey;

  h3 {
    color: $darkGreen;
    margin: 2rem 0 0 0;
  }

  h5 {
    font-size: 1.4rem;
  }

  .location {
    color: $lightGreen;
    margin: .6rem 0 1rem 0;
  }

  .buttons a,
  button {
    background-color: $darkGreen;
    color: $white;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border: 0;
    display: inline-block;
    @extend .z-depth-1;
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;
  }

  .buttons a:hover,
  button:hover {
    cursor: pointer;
    @extend .z-depth-1-half;
  }

  button {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  input {
    width: calc(100% - 68px);
  }

  .tags {
    border: 0;
  }

  input {
    height: 1.6rem;
    border: 1px solid $grey;
  }

  .follow a {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: $lightBlue;

    span {
      color: $grey;
    }
  }

  .follow a:hover {
    color: $darkBlue;

    span {
      color: $grey;
    }
  }
}

/* ___NAVBAR___ */

.nav {
  background-image: linear-gradient(90deg, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -moz-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -webkit-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -o-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -ms-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
}

.nav-wrapper {
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo {
  font-size: 1.8rem;
}

.nav a:hover {
  cursor: pointer;
}

.icon {
  margin: auto;
  padding: 5px;
}

/* ____TYPOGRAPHY_____ */

p {
  padding: 0;
  margin: 0;
}

