/* ___GLOBALS___ */

$lightGreen: #27ae60;
$lightBlue: #1abc9c;
$lightGrey: #dfdfdf;
$grey: #8e8e8e;
$darkGreen: #109418;
$darkerGreen: #0c7112;
$darkGrey: #4a4a4a;
$darkBlue: #138871;
$mainBackground: #f9f9f9;
$white: #ffffff;

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.default-button {
  background-color: $lightGreen;
  color: $white;
  padding: .5rem 1rem;
  border: 0;
  display: inline-block;
  @extend .z-depth-1;
  -webkit-transition: box-shadow .2s;
  transition: box-shadow .2s;
}

.default-button-hover {
  cursor: pointer;
  @extend .z-depth-1-half;
}

/***************************
 ****** GENERAL ************
 ***************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $mainBackground;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main {
  margin: 0 4%;
  color: $darkGrey;
}

.container {
  width: 80%;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
}

/***************************
 ****** EDITPROFILE ********
 ***************************/


.editProfile {

  h4 {
    color: $darkGreen;
    margin: 0 0 0 0;
  }

  h5 {
    font-size: 1.4rem;
  }

  ul.tags {
    margin-top: 5px;
    list-style: none;
    border: 1px solid $lightGrey;
    border-radius: 2px;
    padding: 5px;
  }

  .tag {
    display: inline-block;
    margin: 2px 5px;
    background-color: $lightGrey;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    padding: 2px 5px;
  } 

  .tag span {
    margin: 3px 0px;
    padding-right: 5px
  }


  .tag-form {
    display: block;
  }

  .tag-form {
    input {
      margin-top: 20px;
      margin-right: 15px;
      display: inline-block;
      width: 50%;
      height: 2.3rem;
    }
    button {
      display: inline-block;
    }
  }

  div {
    margin: 5px 0;
    margin-bottom: 15px;
    padding: 5px 0;
    background-color: white;
  }

  .user-photos-container {
    width: 40rem;
    overflow-x: scroll;
  }

  .user-photos-container ul {
    width: 100rem;
  }

  .user-photos-container li {
    display: inline;
    position: relative;
  }

  .user-photos li a {
    position: relative;
    top: -196px;
    right: 48px;
    opacity: 0.7;
    margin-right: -25px;
  }

  .user-photos li:hover a {
    opacity: 1;
  }

  .photo {
    height: 15rem;
  }

  .follow-container {
    border-left: 2px solid $lightGrey;
    text-align: right;
  }

  .follow {
    height: 10rem;
    overflow-y: scroll;
  }

  .follow li {
    width: 100%;
    border-bottom: 1px solid $lightGrey;
    text-align: right;
  }

  .follow li:hover {
    border-bottom: 1px solid $lightGreen;
  }

  
  button {
    @extend .default-button;
  }

  button:hover {
    @extend .default-button-hover;
  }
  
  textarea {
    resize: none;
    width: 70%;
  }

  input, textarea {
    border: 1px solid $lightGrey;
    padding-left: 5px;
  }

  input {
    height: 2rem;
    padding-right: 0px;
    width: 50%;
  }

  input:focus, textarea:focus {
    border-bottom: 2px solid $darkGreen;
  }

  .follow-header {
    font-size: 1.2rem;
    color: $darkGreen;
  }

  .follow-header:hover {
    color: $lightGreen;
  }

  a:hover {
    cursor: pointer;
  }

  .user-meta {
    position: relative;
  }

  .update-avatar {
    position: absolute;
    height: 23px;
    width: 64px;
    top: 35%;
    left: 6%;
    opacity: 0;
    padding: 0;
  }

  .update-avatar:hover {
    opacity: 1;
  }

  .avatar-container {
    margin-bottom: 0px;
  }

  .avatar-container:hover .update-avatar {
    opacity: 1;
  }

  .remove-photo {
    background-color: red;
  }

  .add-tag {
    background-color: $lightGreen;
  }

  .avatar {
    height: 11rem;
    border-radius: 5%;
  }

  .add-photo {
    margin-right: 30px;
    margin-top: 24px;
    @extend .default-button;
  }
}


/***************************
 ******** PROFILE **********
 ***************************/

.profile {
  h4 {
    color: $darkGreen;
    margin: 2.5rem 0 0 0;
  }

  h5 {
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
  }

  .avatar {
    height: 10rem;
    margin-top: 2rem;
    border-radius: 5px;
  }

  .userInfo li {
    display: inline-block;
    vertical-align: top;
    padding-left: 1rem;
  }

  .location {
    color: $grey;
    margin: .6rem 0 1rem 0;
  }

  .buttons a,
  button {
    @extend .default-button;
  }

  .buttons a:hover,
  button:hover {
    @extend .default-button-hover;
  }

  button {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  .user-photos-container {
    width: 40rem;
    overflow-x: scroll;
    margin-top: 1rem;
  }

  .user-photos-container ul {
    width: 100rem;
  }

  .user-photos-container li {
    display: inline;
  }

  .photo {
    height: 15rem;
  }

  .about {
    font-size: 1.1rem;
    margin-bottom: .5rem;
  }

  .tag {
    display: inline-block;
    font-size: 1.1rem;
    margin: .5rem 2rem .5rem 0;
    padding: .2rem 1rem;
    background-color: $lightGrey;
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;
  }

  .tag:hover {
    @extend .z-depth-1;
    cursor: pointer;
  }

  .statusForm {
    padding: .3rem .1rem .3rem .3rem;
    margin-top: 1.5rem;
    border-radius: 2px;
    background-color: $lightGrey;
  }

  input {
    width: calc(100% - 74px);
    height: 1.6rem;
    padding: .2rem;
    margin: 0;
    // border: 1px solid $grey;
    color: $darkGrey;
    background-color: $white;
  }

  .status button {
    background-color: $mainBackground;
    color: $darkGrey;
    padding: 0;
    box-shadow: none;
  }

  .statusInfo {
    padding-right: 0;
    text-align: right;
  }

  li.status {
    font-size: 1.2rem;
    padding-left: .5rem;
    margin-bottom: 1.5rem;
    border-left: 8px solid $lightGreen;
  }

  .statusCreated {
    font-size: .8rem;
    color: $grey;
    position: relative;
    top: .3rem;
  }

  .bottom-left {
    padding-right: 5rem;
    border-right: 1px solid $darkGreen;
  }

  .bottom-right {
    padding-left: 3rem;
  }

  .follow a,
  .follow a + span {
      display: inline-block;
      margin-top: .5rem;
      font-size: 1.2rem;
      color: $lightBlue;
  }

  .follow a + span {
    padding-left: .3rem;
    color: $grey;
  }

  .follow a:hover {
    color: $darkBlue;
  }

  .modal {
    width: 25%;

    .modal-content {
      padding: 0;
    }

    h5 {
      text-align: center;
      padding-bottom: .5rem;
      border-bottom: 1px solid $lightGrey;
      margin-bottom: 0;
    }

    li {
      padding: 1rem 2rem;
      font-size: 1.3rem;
    }

    a {
      color: $darkGrey;
    }

    a:hover {
      cursor: pointer;
      color: $lightBlue;
    }
  }
}

/***************************
 ******** NAVBAR ***********
 ***************************/

.nav {
  background-image: linear-gradient(90deg, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -moz-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -webkit-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -o-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -ms-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
}

.nav-wrapper {
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo {
  font-size: 1.8rem;
}

.nav a:hover {
  cursor: pointer;
}

.icon {
  height: 56px;
  padding-top: 10px;
  margin-right: 15px;
}

.dropdown-content .notification {
  display: inline-block;
  color: $darkGrey;
  font-size: 1rem;
}

.dropdown-content .notification:hover {
  cursor: default;
}

.dropdown-content .notification .user:hover {
  cursor: pointer;
  color: $lightBlue;
  text-decoration: underline;
}

.dropdown-content button {
  height: 52px;
  border: 0;
  background-color: inherit;
}

.dropdown-content button:hover {
  color: $lightBlue;
}

.dropdown-content i {
  position: relative;
  top: -10px;
}

/***************************
 **** FORUM ALL THREADS ****
 ***************************/

.allThreads {
  h3 {
    display: inline-block;
    margin-right: 2rem;
  }

  .create {
    position: relative;
    top: -.6rem;
    margin-bottom: 3rem;
    @extend .default-button;
  }

  .create:hover {
    @extend .default-button-hover;
  }

  .row {
    margin-bottom: 2.3rem;
    position: relative;
  }

  .leftCol {
    padding-right: 0;
  }

  .avatar {
    height: 45px;
    border-radius: 50%;
    margin-right: .5rem;
  }

  .user {
    display: none;
    background-color: $lightGrey;
    border-radius: 3px;
    position: absolute;
    padding: .2rem .4rem;
    font-size: .9rem;
    top: -2.1rem;
    left: 2.3rem;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .avatarLink:hover + .user {
    display: block;
  }

  .upvote {
    padding-right: .5rem;
    background-color: inherit;
    border: 0;
  }

  .upvote:hover {
    color: $lightGreen;
  }

  .upvoteTally {
    font-size: 1.2rem;
    text-align: center;
  }

  .upvote,
  .upvoteTally {
    position: relative;
    top: .7rem;
  }

  .thread-title {
    font-size: 1.2rem;
    color: $darkerGreen;
  }

  .thread-title:hover {
    color: $lightGreen;
  }

  .createdAt {
    font-size: .8rem;
    color: $grey;
  }

  .postTally {
    text-align: center;
    font-size: .8rem;
    color: $grey;
  }

  .postNum {
    font-size: 1.2rem;
    color: $darkGrey;
  }

  .lastUpdated {
    text-align: right;
    height: 43px;
    border-left: 2px solid $lightBlue;
  }

  .pagination {
    text-align: center;
    margin-bottom: 1rem;
  }

  li.active {
    background-color: $lightBlue;
  }
}

/***************************
 ******** THREAD ***********
 ***************************/

.thread {
  margin-top: 2%;
  margin-bottom: 5%;

  h5 {
    font-size: 1rem;
  }

  .thread-meta {
    .title {
      h4 {
        font-size: 2rem;
        color: $darkGreen;
        margin: 1rem 0;
      }
      h5 {
        font-size: 1rem;
        margin: 2rem 0 1rem 0;
      }
    }
    .meta {
      h5 {
        font-size: 1rem;
        padding-right: .5rem;
        border-right: 2px solid $darkGreen;
        margin: 1rem 0;
      }

    }

  }

  button {
    @extend .default-button;
    width: 5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  button:hover {
    @extend .default-button-hover;
  }

  .post-form {
    padding-bottom: 25px;
    border-bottom: 2px solid $lightGrey;

    textarea {
      resize: none;
      border: 2px solid $lightGrey;
      margin-right: 2%;
      height: 2rem;
      width: 40%
    }

    textArea:focus {
      border: 2px solid $lightBlue;
      height: 4rem;
      width: 50%;
    }
  }

  .message-container {
    margin-top: 2%
  }

  .avatar {
    height: 3rem;
    border-radius: 5%;
  }

  .message-username {
    span:hover {
      color: $lightBlue;
      cursor: pointer;
    }
  }

  .message-timestamp {
  }

  .message-votes {
    div {
      i {
        margin-top: -0.2rem;
      }
      h5 {
        margin-top: 0.2rem;
      }
    }
  }

  .message-content {
    margin-bottom: 2px;
    padding-bottom: 15px;
    border-bottom: 2px solid $lightGrey;
  }

  .pagination {
    padding-bottom: 2.5%;
  }

}


