/* ___GLOBALS___ */

$lightGreen: #27ae60;
$lightBlue: #1abc9c;
$lightGrey: #dfdfdf;
$grey: #8e8e8e;
$darkGreen: #109418;
$darkGrey: #4a4a4a;
$darkBlue: #17a689;
$mainBackground: #f9f9f9;
$white: #ffffff;

.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.default-button {
  background-color: $lightGreen;
  color: $white;
  padding: .5rem 1rem;
  border: 0;
  display: inline-block;
  @extend .z-depth-1;
  -webkit-transition: box-shadow .2s;
  transition: box-shadow .2s;
}

.default-button-hover {
  cursor: pointer;
  @extend .z-depth-1-half;
}

/* ___GENERAL___ */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $mainBackground;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main {
  margin: 0 2%;
}

ul {
  margin: 0;
}

/* ___EDITPROFILE___ */
.editProfile {

  h4 {
    color: $darkGreen;
    margin: 0 0 0 0;
  }

  h5 {
    font-size: 1.4rem;
  }

  ul.tags {
    margin-top: 5px;
    list-style: none;
    border: 1px solid $lightGrey;
    border-radius: 2px;
    padding: 5px;
  }

  .tag {
    display: inline-block;
    margin: 2px 5px;
    background-color: $lightGrey;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    padding: 2px 5px;
  } 

  .tag span {
    margin: 3px 0px;
    padding-right: 5px
  }


  .tag-form {
    display: block;
  }

  .tag-form {
    input {
      margin-top: 20px;
      display: inline-block;
      width: 50%;
    }
    button {
      display: inline-block;
    }
  }

  div {
    margin: 5px 0;
    margin-bottom: 15px;
    padding: 5px 0;
    background-color: white;
  }

  .user-photos-container {
    width: 40rem;
    overflow-x: scroll;
  }

  .user-photos-container ul {
    width: 100rem;
  }

  .user-photos-container li {
    display: inline;
  }

  .photo {
    height: 15rem;
  }

  .follow-container {
    border-left: 2px solid $lightGrey;
    text-align: right;
  }

  .follow {
    height: 10rem;
    overflow-y: scroll;
  }

  .follow li {
    width: 100%;
    border-bottom: 1px solid $lightGrey;
    text-align: right;
  }

  button {
    @extend .default-button;
  }

  button:hover {
    @extend .default-button-hover;
  }
  
  textarea {
    resize: none;
    width: 24.1rem;
  }

  input, textarea {
    border: 2px solid $lightGrey;
  }

  input {
    height: 2rem;
    padding-right: 0px;
  }

  input:focus, textarea:focus {
    border-bottom: 2px solid $darkGreen;
  }

  .follow-header {
    font-size: 1.2rem;
    color: $darkGreen;
  }

  .follow-header:hover {
    color: $lightGreen;
  }

}


/* ___PROFILE___ */

.profile {
  color: $darkGrey;

  h4 {
    color: $darkGreen;
    margin: 2.8rem 0 0 0;
  }

  h5 {
    font-size: 1.4rem;
  }

  .avatar {
    height: 10rem;
    margin-top: 2rem;
    border-radius: 50%;
  }

  .userInfo li {
    display: inline-block;
    vertical-align: top;
    padding-right: 1rem;
  }

  .location {
    color: $grey;
    margin: .6rem 0 1rem 0;
  }

  .buttons a,
  button {
    background-color: $lightGreen;
    color: $white;
    padding: .5rem 1rem;
    border: 0;
    display: inline-block;
    @extend .z-depth-1;
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;
  }

  .buttons a:hover,
  button:hover {
    cursor: pointer;
    @extend .z-depth-1-half;
  }

  button {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  .tags {
    border: 0;
  }

  input {
    width: calc(100% - 74px);
    height: 1.6rem;
    padding: .2rem;
    margin: 0;
    color: $grey;
  }

  .bottom-left {
    border-right: 1px solid $darkGreen;
  }

  .follow a {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: $lightBlue;

    span {
      color: $grey;
    }
  }

  li.status {
    font-size: 1.2rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    border-left: 8px solid $lightGreen;
  }

  .follow a:hover {
    color: $darkBlue;

    span {
      color: $grey;
    }
  }
}

/* ___NAVBAR___ */

.nav {
  background-image: linear-gradient(90deg, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -moz-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -webkit-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -o-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
  background-image: -ms-linear-gradient(left, rgb(39, 174, 96) 15%, rgb(26, 188, 156) 100%);
}

.nav-wrapper {
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo {
  font-size: 1.8rem;
}

.nav a:hover {
  cursor: pointer;
}

.icon {
  margin: auto;
  padding: 5px;
  margin-right: 10px;
}

/* ____TYPOGRAPHY_____ */

p {
  padding: 0;
  margin: 0;
}

