<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Untitled Document.md</title>
  
</head>
<body id="preview">
  <button class="tesselButton" ng-show="setup.hideKey" ng-click="setup.getScopedKey()">Show Tessel Key</button>
  <button class="tesselButton" ng-hide="setup.hideKey" ng-click="setup.getScopedKey()">Hide Tessel Key</button>

  <span class="scopedKey" ng-hide="setup.hideKey">{{setup.scopedKey}}</span>
  <p>After you have the hardware, you will need to get it setup by following
  the instructions <a href="http://start.tessel.io/install">here</a>. Note that
  there are different instructions if you are setting up a <a href=
  "http://start.tessel.io/install">tessel 1</a> versus a <a href=
  "https://tessel.github.io/t2-start/">tessel 2</a>. After you have got to the
  step of running <code>tessel update</code> you are ready to begin following
  these instructions.</p>
  <ol>
    <li>
      <p>Open the terminal and navigate to the desktop or the location you want
      to place your tessel program.</p>
      <pre>
<code class="language-bash"><span class="hljs-built_in">cd</span> Desktop
</code>
</pre>
      <p>Note that <code>cd</code> means “change directory”.</p>
    </li>
    <li>
      <p>Create a folder (also known as a directory) called Tessel.</p>
      <pre>
<code class="language-bash">mkdir Tessel
</code>
</pre>
      <p>Note that mkdir stands for “make directory” and it creates a folder
      named after the command that is typed after it, in this case
      “Tessel”.</p>
    </li>
    <li>
      <p>Now that the folder has been created, navigate into it.</p>
      <pre>
<code class="language-bash"><span class="hljs-built_in">cd</span> Tessel
</code>
</pre>
    </li>
    <li>
      <p>Clone the repository of code for climate monitoring on the tessel.</p>
      <pre>
<code class="language-bash">git <span class=
"hljs-built_in">clone</span> https://github.com/Stegosaurius/Tessel_Climate_Monitoring
</code>
</pre>
      <p>This will copy the code found in the weblink and place it in the
      current folder.</p>
    </li>
    <li>
      <p>Navigate into the newly created folder.</p>
      <pre>
<code class="language-bash"><span class=
"hljs-built_in">cd</span> Tessel_Climate_Monitoring
</code>
</pre>
    </li>
    <li>
      <p>(Optional) Display the contents of the current folder.</p>
      <pre>
<code class="language-bash">ls
</code>
</pre>
      <p>This command stands for list and will show you the contents of the
      current directory.</p>
    </li>
    <li>
      <p>Download all the code dependencies.</p>
      <pre>
<code class="language-bash">npm install
</code>
</pre>
      <p>This command tells npm to install the code dependencies defined in the
      package.json file found in the current directory.</p>
    </li>
    <li>
      <p>Make a copy of the keenConfigure.example.js file.</p>
      <pre>
<code class="language-bash">cp keenConfigure.example.js keenConfigure.js
</code>
</pre>
      <p>The command <code>cp</code> stands for copy. It will create a copy of
      the file given after it <code>keenConfigure.example.js</code> to file
      given as a second command, <code>keenConfigure.js</code>. This particular
      file is where we will store the keys for accessing the keen database that
      the Tessel will upload to. In a later step, this file will be opened so
      that user specific keys can be added to it.</p>
    </li>
    <li>
      <p>Make a copy of the wifiConfigure.example.js file.</p>
      <pre>
<code class="language-bash">cp wifiConfigure.example.js wifiConfigure.js
</code>
</pre>
      <p>This file is where the wifi connection SSID name and password will be
      setup. One might wonder at this point why there would need to be a copy
      of this file (or the file in the previous step). The reason for this is
      version control (git). Git has been configured (by modifying the
      .gitignore file) to ignore files named keenConfigure.js and
      wifiConfigure.js. Because of this, Git will not send sensitive passwords
      and keys to GitHub if a pull request is made.</p>
    </li>
    <li>
      <p>Leave the terminal (but don’t close it) and open Finder. Navigate to
      the folder that the Tessel repo was cloned into (it’ll be on the desktop
      if the above commands were followed). Open keenConfigure.js in a text
      editor (TextEdit or notepad will work but if you’re thinking about doing
      more coding in the future, try getting Sublime). Grab the
      <code>writeKey</code> from the top of this setup page, delete the
      “xxxxxxxxxxxxxxxxxx” and paste the key. The key should be in quotes
      <code>&quot;theKeyHere&quot;</code>. Also change <code>&quot;username:
      &quot;xxxxxxxxxxxxxxxx&quot;</code> by deleting the x’s and replacing
      them with the username found on your profile page.</p>
    </li>
    <li>
      <p>Use the text editor to open wifiConfigure.js. Replace the x’s after
      the SSID with the name of the wifi network. Replace the x’s after the
      password with the wifi network password that the Tessel will be
      using.</p>
    </li>
    <li>
      <p>Return to the terminal. Run</p>
      <pre>
<code class="language-bash">tessel run index.js <span class=
"hljs-operator">-l</span>
</code>
</pre>
      <p>This will compile the Tessel code and load it into the tessel. It will
      begin executing and sending data to Keen after the code has been compiled
      and sent to the tessel. The console will also begin loggin data for the
      Tessel (to stop the logs from streaming, press <code>ctrl+c</code>) Every
      time power is supplied to the Tessel it will load up the code and begin
      executing it again.</p>
    </li>
  </ol>
</body>
</html>