<div class="editProfile section">

  <div class="row z-depth-1">

    <form class="col m6" name="editProfile.form" ng-submit="editProfile.updateProfile()">

      <div class="row"> 
      
        <img class="col m4" style="width: 140px;height:140px; border-radius: 20px; padding: 0;"src="github_pic.jpg">

        <div class="col m8">

          <p>@{{ editProfile.username }}</p>
          <p>Location</p>
          <input type="text" ng-model="editProfile.location"  placeholder="Where are you based?"><br>
          <!-- <input type="text" ng-model="editProfile.about" placeholder="Tell us about yourself"><br>   --> 
          
        </div>

      </div>

      <div class="row">

        <p>About</p>
        <input type="text" ng-model="editProfile.about" placeholder="Where are you based?">
        <button class="waves-effect waves-light btn" type="submit">Update!</button><br>

      </div>
      <!-- <p>{{ editProfile.message }}</p> -->
    </form>
    
    <div class="user-photos-container col m6 valign-wrapper">
      <ul class="user-photos" ng-repeat="path in editProfile.photos">
        <li><img class="user-photo" ng-src="{{ path }}"/></li>
      </ul>
    </div>

  </div>

  <div class="row z-depth-1"> 

    <div class="col m6">
      
      <p>Tags</p>

      <ul class="tags">
        <li class="tag" ng-repeat="tag in editProfile.tags">
          <span>{{ tag }}</span>
          <a class="remove-item" href="#">
            <i class="tiny material-icons">clear</i>
          </a>
        </li>
      </ul> 
      
      <form class="tag-form" name="editProfile.tagForm" ng-submit="editProfile.addTag()">
          <input type="text" ng-model="editProfile.newTag" placeholder="Add a new tag">
          <!-- <button class="waves-effect waves-light btn" type="submit">Add</button> -->
          <button type="submit" class="btn-floating btn-small waves-effect waves-light red">
            <i class="material-icons">add</i>
          </button>

      </form>

    </div>

    <div class="col m6 valign-wrapper">
      <div class="follow-container col m6">
        <p>Followers</p>
        <ul class="follow">
          <li ng-repeat="follower in editProfile.followers">
            <span> {{ follower }} </span>
            <a ng-click="editProfile.removeFollower(follower)" class="remove-item">
              <i class="tiny material-icons">clear</i>
            </a>
          </li>
        </ul>
      </div>
      <div class="follow-container col m6">
        <p>Following</p>
        <ul class="follow">
          <li ng-repeat="following in editProfile.following">
            <span> {{ following }} </span>
            <a ng-click="editProfile.removeFollowing(following)" class="remove-item">
              <i class="tiny material-icons">clear</i>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>
