<div class="signup">
  <h1>Sign Up</h1>

  <form name="signup.form" ng-submit="signup.signup()">
    <input type="email" name="email" ng-model="signup.user.email" placeholder="Email Address" required><br>
    <input type="text" name="username" ng-model="signup.user.username" placeholder="Username" ng-pattern='/^[a-zA-Z0-9]*$/' required><p>Only alphanumeric characters</p><br>
    <input type="password" name="password" ng-model="signup.user.password" placeholder="Password" required><br>
    <button type="submit">Sign Up</button><br>
  </form>

  <button ng-click="signup.signupOAuth('/auth/google')">Sign Up with Google</button>
  <br>
  <button ng-click="signup.signupOAuth('/auth/facebook')">Sign Up with Facebook</button><br>

  <a ui-sref="signin">Already have an account? Log in here.</a><br>

  <p>{{ signup.message }}</p>
</div>
