<div class="signin">
  <h1>Sign In</h1>

  <form name="signin.form" ng-submit="signin.signin()">
    <input type="text" name="username" ng-model="signin.user.username" placeholder="Username" ng-pattern='/^[a-zA-Z0-9]*$/' required><br>
    <input type="password" name="password" ng-model="signin.user.password" placeholder="Password" required><br>
    <button type="submit">Sign In</button><br>
  </form>

  <!-- <button ng-click="signin.signinOAuth('/auth/google')">Sign In with Google</button> -->
  <button><a href="/auth/google">Sign In with Google</a></button>
  <br>
  <button><a href="/auth/facebook">Sign In with Facebook</a></button><br>

  <a ui-sref="signup">Don't have an account? Make one here.</a><br>

  <p>{{ signin.message }}</p>
</div>
